---
title: Archive
permalink: "archive/index.html"
meta_description: Post archive of blog of Paul Salaets
redirect_from:
  - /posts/
---
<div class="page-archive">
{% for post in site.posts %}
  {% assign post_year = post.date | date: "%Y" %}
  {% assign newer_post_year = post.next.date | date: "%Y" %}
  {% if post_year != newer_post_year %}
    <h3 class="section-header-archive">
      {{ post_year }}
    </h3>
  {% endif %}
  <p>
    <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive">{{ post.title }}</a>
    <small class="text-muted">{{ post.date | date_to_string }}</small>
  </p>
{% endfor %}
</div>
