// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

// let long lines in code blocks scroll horizontally (mainly for small screens)
// http://stackoverflow.com/a/16420440
.highlight {
  pre {
    overflow-x: auto;

    code {
      overflow-wrap: normal;
      word-wrap: normal;
      white-space: pre;
    }
  }
}
